.botTable {
  width: 445px;
  height: 250px;
  color: var(--base-color);
}

.botTable,
.botTable__header,
.botTable__cell {
  border: 1px solid var(--base-color);
  border-collapse: collapse;
}

.botTable thead {
  display: table-header-group;
}

.botTable tr {
}
