* {
  box-sizing: border-box;
}

.login__wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login__form {
  width: 320px;
  margin-top: 5%;
  padding: 35px 20px;
  border: 2px solid gray;
}

.login__form__main-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
}

.login__form__input {
  width: 100%;
  height: 30px;
  font-size: 14px;
}

.login__form__row {
  margin-bottom: 25px;
}

.login__form__title {
  font-size: 16px;
  font-weight: 700;
}

.btn__login {
  text-align: center;
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 5%;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn__login:last-child {
  margin-bottom: 0;
}

.btn__login__yellow {
  background-color: rgb(255, 232, 27);
}

.btn__login__yellow:hover {
  background-color: rgb(239, 215, 3);
}

.btn__login__grey {
  background-color: rgb(202, 199, 199);
}

.btn__login__grey:hover {
  background-color: rgb(176, 173, 173);
}
