.register {
  background-color: var(--base-bg-color-100);
  height: calc(100vh - 60px);
}

.register__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.register__form {
  width: 320px;
  padding: 35px 20px;
  border-radius: 5px;
  background-color: var(--base-bg-color-90);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register__formTitle {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
}

.register__formInput {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.register__signInBtn {
  width: 100%;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: transparent;
  color: var(--base-field-btns);
  font-size: 16px;
  font-weight: 700;
}

.register__signInBtn:hover {
  background-color: rgb(221, 221, 221);
  color: var(--hover-btn-color);
  border-color: var(--hover-btn-color);
}

.register__createAccBtn {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--base-field-btns);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.register__createAccBtn:hover {
  background-color: var(--hover-btn-color);
}
