.deleteExchangeModal__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.deleteExchangeModal__container {
  background-color: var(--base-bg-color-90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
}

.deleteExchangeModal__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteExchangeModal__title {
  margin-bottom: 30px;
}

.deleteExchangeModal__button--del {
  cursor: pointer;
  width: 45%;
  height: 35px;
  border-radius: 5px;
  background-color: var(--warning-color);
  border: 1px solid var(--warning-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: 600;
}

.deleteExchangeModal__button--del:hover {
  background-color: rgb(176, 0, 0);
  border: 1px solid rgb(176, 0, 0);
}

.deleteExchangeModal__button--cncl {
  cursor: pointer;
  width: 45%;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
}

.deleteExchangeModal__button--cncl:hover {
  background-color: var(--hover-btn-color);
  border: 2px solid var(--hover-btn-color);
  color: var(--white-color);
}
