.customDropDownSelection{
    position: relative;
    margin-right: 10px;
}

.customDropDownSelection__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    cursor: pointer;
}