.welcome__container {
  width: 100%;
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 800px;
  text-align: center;
  margin-top: 10%;
}

.welcome__button:hover {
  background-color: rgb(14, 14, 159);
  /* text-shadow: 2px 2px red; */
}

.welcome__button {
 
  background-color: rgb(69, 69, 249);
  padding: 9% 0;
  width: 237px;
  border-radius: 10px;
  cursor: pointer;
}

.welcome__buttonText {
  color: white;
}
