.profile__wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__list {
  font-size: 1.1rem;
  width: 19vw;
  height: calc(100vh - 56px);
  background-color: var(--primary-bg-color-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: whitesmoke;
}

.profile__item {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 65px;
  list-style: none;
  text-decoration: none;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-size: 21px;
}

.profile__item--active {
  color: var(--secondary-color);
  background-color: white;
  border-left: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 65px;
  list-style: none;
  text-decoration: none;
  height: 50px;
  width: 100%;
  font-size: 21px;
}

.profile__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profileItem__paragraph {
  cursor: pointer;
}
