.editExchangeModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  z-index: 3;
}

.editExchangeModal__inner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 290px;
  margin: auto;
  height: 420px;
  width: 350px;
  background-color: white;
  color: black;
}

.editExchangeModal__cross {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.editExchangeModal__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.editExchangeModal__formContainer {
  width: 300px;
  height: 100%;
  margin-top: 10px;
}

.editExchangeModal__keyForm {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editExchangeModal__keyFormInput--publicKey {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16;
}

.editExchangeModal__keyFormInput--title {
  font-size: 18px;
  font-weight: bold;
}

.editExchangeModal__keyFormInput--secretKey {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16;
}

.editExchangeModal__keyFormInput {
  height: 35px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 5px;
  margin-bottom: 30px;
}

.editExchangeModal_formBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.editExchangeModal__saveBtn {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  color: var(--main-bg-color);
}

.editExchangeModal__saveBtn:hover {
  background-color: var(--hover-btn-color);
  border-color: var(--hover-btn-color);
}

.editExchangeModal__deleteBtn {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid red;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.editExchangeModal__deleteBtn:hover {
  color: white;
  background-color: rgb(214, 1, 1);
}
