.strategyForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.strategyForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background-color: var(--base-bg-color-90);
  padding: 20px;
  align-items: center;
  width: 250px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 5px;
}

.strategyForm__title {
  font-weight: bold;
  font-size: 18px;
}

.strategyForm__select {
  width: 65%;
  height: 25px;
}

.strategyForm__btn {
  width: 65%;
  background-color: var(--primary-color);
  border: none;
  color: var(--base-color);
  height: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}

.strategyForm__btn:hover {
  background-color: var(--hover-btn-color);
}
