.overlayingPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 36px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayingPopup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.overlayAnimation-enter {
    opacity: 0;
}

.overlayAnimation-enter-active {
    transition: opacity 300ms ease-out;
    opacity: 1;
}

.overlayAnimation-exit {
    opacity: 1;
}

.overlayAnimation-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.contentAnimation-enter {
    opacity: 0;
    transform: scale(0.01)
}

.contentAnimation-enter-active {
    transition: opacity 100ms ease-out 200ms, transform 100ms ease-out 200ms;
    opacity: 0.2;
    transform: scale(1)
}

.contentAnimation-exit {
    opacity: 1;
    transform: scale(1);
}

.contentAnimation-exit-active {
    opacity: 0;
    transform: scale(0.01);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}