.testModeGraphs__upperContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.testModeGraphs__botInfoContainer {
  display: flex;
  justify-content: space-between;
}
