*{
    box-sizing: border-box;
}

.languageDropdown{
    position: absolute;
    top: 60px;
}

.languageDropdown__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    padding: 20px;
    border: 1px solid red;
}

.languageDropdown__title{
    margin-bottom: 10px;
    border: 1px solid red;
}

.languageDropdown__selectLanguageContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}