.customDateSelection {
  position: relative;
  margin-right: 10px;
}

.customDateSelection__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-bg-color-90);
  border-radius: 5px;
  box-shadow: var(--base-box-shadow);
  padding: 10px;
  cursor: pointer;
}
