.customDateDropdown {
  list-style: none;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: var(--base-bg-color-90);
  box-shadow: var(--base-box-shadow);
  border-radius: 5px;
  z-index: 5;
}

.customDateDropdown__form {
  padding: 12px 10px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.customDateDropdown__inputsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.customDateDropdown__dateInput {
  width: 100%;
}

.customDateDropdown__error {
  color: var(--warning-color);
  font-size: 12px;
  margin-top: 5px;
  padding-left: 5px;
}

.customDateDropdown__startBtn {
  width: 100%;
  height: 20px;
  color: var(--base-color);
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.customDateDropdown__startBtn:hover {
  background-color: var(--hover-btn-color);
  box-shadow: var(--base-box-shadow);
}
