.header{
    width: 100vw;
    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: whitesmoke;
}

.header__container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}

.header__burger, .header__help{
    cursor: pointer;
}
