.header {
  width: 100vw;
  border-bottom: 1px solid var(--base-bg-color-90);
  background-color: var(--base-bg-color-90);
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 55px;
}

.header__elements {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.header__title {
  color: var(--inversed-base-color);
  cursor: pointer;
  text-align: center;
}

.header__elments-item--right {
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: var(--inversed-base-color);
}

.header__elements--hover {
  background-color: transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__elements--hover:hover {
  background-color: var(--hover-bg-color);
}

.header__logo img {
  margin-top: 5px;
  cursor: pointer;
  width: 100px;
  -webkit-filter: drop-shadow(0px 0px 4px #222);
  filter: drop-shadow(0px 0px 4px var(--logo-shadow));
}

.header__help {
  cursor: pointer;
  margin-left: 100px;
}
