.welcome {
  width: 100vw;
  background-color: var(--base-bg-color-100);
  color: var(--base-color);
}

.welcome__container {
  max-width: 1100px;
  margin: 0 auto;
  height: calc(100vh - 56px);
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 90%;
}

.welcome__title-section {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.welcome__img {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex: 1;
}

.welcome__main-title {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 110%;
}

.welcome__title-desc {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.welcome__btn {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.welcomeLogin__btnLog {
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: inline-flex;
  color: var(--primary-color);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.welcomeLogin__btnSign {
  -webkit-box-align: center;
  align-items: center;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: inline-flex;
  color: var(--white-color);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.welcomeLogin__btnLog:hover {
  background-color: var(--hover-btn-color);
  color: var(--white-color);
  border-color: var(--hover-btn-color);
}

.welcomeLogin__btnSign:hover {
  background: var(--hover-btn-color);
  border-color: var(--hover-btn-color);
}

.header__userName {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  line-height: 100%;
}
