.selectionsHeader {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectionsHeader__container {
  max-width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectionsHeader__ExchangeSelectionContainer {
  width: 100%;
  max-width: 310px;
}
