.addExchangeCard {
  width: 180px;
  height: 280px;
  border-radius: 20px;
  margin-right: 20px;
  background-color: var(--base-bg-color-100);
  box-shadow: var(--base-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.addExchangeCard:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.03);
}

.addExchangeCard--empty {
  font-size: 64px;
  color: rgba(81, 81, 81, 0.533);
}
